ffmpy==0.2.2
moviepy==0.2.3.2
numpy==1.13.3
scipy==1.0.0
# Python multiprocessing using extended pickle serialization with
# dill: https://github.com/uqfoundation/dill
# and pathos: https://github.com/uqfoundation/pathos
pathos==0.2.1